@charset "utf-8";
@import 'susy';

body {
  font-family: sans-serif;
  line-height: 1.25em;
}

.page {
  @include container;

  nav {
    @include span-columns(3, 12);

    text-align: center;

    blockquote {
      font-style: italic;
      /*font-size: 12px;*/
      margin: 5px;
    }

    padding-top: 25px;
    top: 0;
  }

  .content {
    @include span-columns(9 omega, 12);

    article {
      border-bottom: 1px solid #ccc;
      h2 {
        -webkit-margin-after: 0em;
      }
      .date {
        font-size: 12px;
      }
    }

    footer {
      .recent { @include span-columns(6, 9); }
      .by_year { @include span-columns(3 omega, 9); }
    }

  }


}


