---
layout: post
title: It's Been 10 Years Already...
published: true
---
<p>
A friend just graduated from College this weekend. We are very proud of her and her accomplishment. This is a giant step in her young life.
</p><p>
It's been 10 years since I graduated from college. A lot has happened in those 10 years. Not just in terms or career or technology, but mainly in terms of life in general. I went from being a nerdy single guy in Montreal to being a geeky married guy in Denver. From living with my mother to sharing a house with four roommates (at one point) to owning my own house.
</p><p>
It certainly seem that I have made a lot of progress. It's still early in my life. There's (hopefully) a lot more that will happen. We are still waiting to receive our adoption referral and are considering starting a concurrent adoption. We are talking about buying a bigger house since our house would just burst apart with 2 kids. And even that isn't that far out on the journey. Looking ahead I can see where my mother and my grandmothers are in their life. 
</p><p>
There's a good reason why they call it a Commencement Exercise. It seemed like it was the end of an era back then (and it was). But it is also just the beginning of a much bigger journey. My friend is just taking her first steps in the post-graduation life. She seems to have it pretty much together with a job lined up and a man that she is very much in love with. I wish her the best of luck!
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-6362815216722333933?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
