---
layout: post
title: Talking about JSON at the Boulder JUG
published: true
---
<p>
I'll give a presentation about <a href="http://www.json.org/">JSON</a> at the <a href="http://www.boulderjug.org/">Boulder JUG</a> tonight. I'll introduce JSON to the audience, talk about consuming and producing JSON, discuss some of the security implications around JSON before talking about some recent developments. This is an extension of the presentation I gave to the Denver JUG a few months ago. 
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-7580017370483710561?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
