---
layout: post
title: I'm Loving It!
published: true
---
<p>
I bought my brand new 15" 2.4GHz MacBook Pro the Wednesday following it's release. I had saved up the money, I was ready to buy. So I showed up at the Broomfield Apple store with my Sun badge in one hand and a credit card in the other and walked out with my new laptop. I transferred my settings and application from my PowerBook G4 and haven't looked back since.
</p><p>
It turns out to be an amazing machine. It's so fast that I no longer have time to read an RSS feed entry when compiling code. I did have performance issues when running Windows XP under Parallels, but those were quickly resolved by upgrading the memory to 4GB. The display is sharp and extremely bright. I usually end up dimming it a bit so it is easier to read and match my external display.
</p><p>
It's really nice to have a few hours of battery time. I usually end up with about 3 hours of battery life without having to turn too many things off. This allows me to bring the laptop to serial meetings or enjoy a full evening of Sci-Fi channel and RSS reading without having to carry the power brick.
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-8963423118892213267?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
