---
layout: post
title: We Are Out!
published: true
---
<blockquote>
The CCAA has finished the review of the adoption application documents registered with our office before June 30, 2006.
<br />-- <a href="http://www.china-ccaa.org/frames/index_unlogin_en.jsp">CCAA Front Page</a>
</blockquote><p>
I was reading through my hundreds of feeds when I came across <a href="http://chinaadopttalk.com/2007/07/26/june-2006-is-out-of-review/">this post</a> from the <a href="http://chinaadopttalk.com/">Rumor Queen's blog</a>. Our login date is June 15, 2006. This means that we passed through a big milestone in our adoption journey. We are out of the Review Room and have taken our place going into the Matching Room. It's still a long line. Longer than we would like it to be. But it is progress. It is a milestone.
</p><p>
This was such great news that I had to wake up my lovely wife.
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-5384919672380745518?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
