---
layout: post
title: Blog Migration Aftermath
published: true
---
<p>
Here's the results of the blog move from my point of view:
</p><ul>
<li>I used to receive at least one problem report from FeedBurner a day. Nothing since the move. There was one problem report on the morning after the move, but it was move related.</li>
<li>Learned a few things about Apache HTTPD, Mongrel and Pound. Enjoyed the puns attached to having a pack of mongrels at the pound.</li>
<li>Enjoyed how Typo's architecture made it easier to migrate than I feared.</li>
</ul><p>
The most important lesson for me is the importance of having some control over your infrastructure. Shared hosting is a fine start. I still use it to host my pictures and my email. The price of shared hosting is a loss of control over your applications. You can't be trusted to have root access since you may impact other customer's applications. You can't have access to some utilities that help you troubleshoot your problems because you may expose someone else's application's internals.
</p><p>
The nice thing with using a VPS hosting provider such as <a href="http://www.slicehost.com/">Slicehost</a> is that you do gain most of that control back. You still have to share the server's resources with the other users on the system, but you do have full root access in you slice. You can reinstall the OS, install the latest and greatest release of the software and manage what gets exposed to the internet and what remains internal. The console and the option of reinstalling the software is right there in the management console.
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-1853165198691020781?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
