---
layout: post
title: Enjoying The Rich Web Experience
published: true
---
<p>
I am now in California. It should be sunny, but I can hardly tell since I'm engrossed into the most excellent <a href="http://www.therichwebexperience.com/">Rich Web Experience</a> conference put together by the <a href="http://www.nofluffjuststuff.com/">No Fluff, Just Stuff</a> team. 
</p><p>
The focus of this conference is on building rich internet based applications, whether they are written in pure HTML + CSS + JavaScript, Flex, AIR or Silverlight. There are discussions around security, performance, design sprinkled around talks about frameworks.
</p><p>
Access to the speakers is amazing just like any NFJS events. I had conversations with Greg Wilkins (Jetty), Dean H. Saxe (Security) and the usual suspect: Scott Davis, David Geary and Neal Ford. I even indulged in a little bit of hero worship by meeting Douglas Crockford, Yahoo's JavaScript architect. He gave talks on JavaScript and JSON in addition to giving a keynote speech.
</p><p>
The conference itself is a fast paced mix of keynotes, expert panels, presentations and networking. The caliber of the presenters and attendees is quite impressive. This is definitively my type of crowd. Where else would you be discussing and arguing about the meaning of HTTP response codes, the merits of Prototype versus Yahoo! UI Toolkit or Paranoids at Yahoo!? Right here at the Rich Web Experience in San Jose.
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-8578105444386413140?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
