---
layout: post
title: My Ghost Has More Presence Than I Do
published: true
---
<p>
I must confess... I search for "<a href="http://www.google.com/search?q=frederic+jean&amp;ie=utf-8&amp;oe=utf-8&amp;aq=t&amp;rls=org.mozilla%3Aen-US%3Aofficial&amp;client=firefox-a">Frederic Jean</a>" on Google at least once a week. I do realize that this is fairly narcissistic. I just can't help it. I was quite proud when this blog showed up as the #1 result for a few days. (It has slipped over to the second page since then...).
</p><p>
Funny thing is that <a href="http://blogs.sun.com/fredjean/">my first blog</a> consistently shows up as the #1 search result. I haven't touched it in almost a year now. Of course, having a sun.com URL has a big impact on the Google Rank of the blog. It's certainly helping raise the Google rank of this blog. Still, it is quite strange that it shows up there quite consistently. Maybe I need to post here more often...
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-4959528333149697902?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
