---
layout: post
title: Caught in the MacBook Pro Frenzy
published: true
---
<p>
Apple finally released the new MacBook Pros. This is something that I have waited for since Intel announced the Santa Rosa platform. It is exciting to read the <a href="http://forums.macrumors.com/showthread.php?t=310313">MacRumors thread</a> on the subject. This looks like a solid upgrade to me. Even more exciting is that I should get my hands on one on Thursday. My trusty PowerBook G4 is still going strong. I just need to do more faster than I used to.
</p><p>
I am still trying to decide between the 15" and the 17" versions. The 15" has an LED illuminated display. It is free or mercury and appears to be brighter than the display on the previous iteration. The 17" LCD has a higher resolution and more screen real-estate. I do connect an external monitor at home and at work. I guess that I still have a couple days to decide. Either way, I should be able to buy the stock model from the Apple store and upgrade the memory later. It's usually cheaper to buy the memory from an OEM rather than from Apple. Better yet, it doesn't void the warranty.
</p><p>
A good news is that I do get to use the Sun Employee discount to make this purchase. This will help offset the bulk of the sales tax and allow me to add a few accessories to it.
</p><p>
Well, I should try to finish up the thread before going to bed. 
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-1449793968652028137?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
