---
layout: post
title: Aggregating to Sun's Community Page
published: true
---
<p>
You have to give it to Sun. When a Sun employee leaves, their old blog remains on <a href="http://blogs.sun.com/">Sun's blogging site</a>. The employee can't post anymore, but their content is still there. Sometimes, that content ends up higher on the Google searches than an employee's new blog. This is a good indication of how Sun tries to treat it's alumni and former employees.
</p><p>
Another cool thing is that they allow former employees to submit their blogs to their <a href="http://community.sun.com/">Sun Alumni Blogs Aggregation</a> page. I used to aggregate there, but I disappeared for some reasons. So I applied again, and I'm back up there. That will make one more way that you will be able to find my content. There's a few former employees being aggregated there too. Looks like I'll be in pretty good company.
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-7192277651059676540?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
