---
layout: post
title: Vote for Java 6 on Leopard
published: true
---
I just couldn't wait... I looked up my tracking number on the Fedex web site and realized that the package had arrived at Sun's Broomfield campus. I locked my screen, made my way to the mail center and picked the boxes. One of these boxes contained my very own copy of Leopard.

<p>I debated for a while whether to wait or install it. The excitement got the best of me so I loaded the DVD and started the installation.</p>

<p>It's only afterward that I realized that a very important piece was missing: Java 6. It wasn't there! Even the old preview didn't work anymore.</p>

<p>Like many others, I ranted, spammed Apple's feedback URL and bug submission web pages with comments about this very important missing component. And now, I'm adding my vote to the blogogpshere:</p>

<blockquote class="posterous_short_quote">
13949712720901ForOSX
</blockquote>

<p>13949712720901 is the decimal notation for 0xCAFEBABE. This is the first 4 bytes in the files that contains the Java classes. I'm joined by <a href="http://blogs.sun.com/bblfish/entry/vote_for_java6_on_leopard">Henry Story</a>, <a href="http://davidvancouvering.blogspot.com/2007/11/cafebabe-vote-for-java-6-on-mac.html">David Van Couvering</a> and others in spreading the word.</p>

<p>Not having Java 6 on my Mac forces me to do things like run Solaris under VMWare on my Mac. All of this so I can participate in the project that I'm working on. It's workable, but it's certainly foreign. It's certainly a lot less elegant than I would like it to be.</p>

<p>Obviously, I can't certainly make a big difference by myself. All you need to do to participate is to add</p>
<blockquote class="posterous_short_quote">
13949712720901ForOSX
</blockquote>
<p>to your blog to show support for Java 6 on Leopard.</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-1870610642971851716?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
