---
layout: post
title: Feeling Twitterrific
published: true
---
<p>
I decided to give <a href="http://twitter.com/">Twitter</a> a chance. <a href="http://twitter.com/fredjean">My profile is all setup</a>, all I need is a few friends I guess.
</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-8027603165004254696?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
