---
layout: post
title: New Countertops and Sink
published: true
---
<p style="text-align: center;">[[posterous-content:pmlqvCdGxzxpDpsylkJG]]</p>
<p>Our old countertops where in really bad shape, and it was driving my wife to insanity (or so she claims). We had done everything we could think of to extend their life. We painted them, we glued the old formica in place. But the paint started to chip and the formica didn't stay glued on very long. So we decided that we had to address the countertop situation.</p>
<p>We remembered passing by a booth at the Flatiron Mall advertising an engineered granite solution by <a href="http://www.granitetransformations.com/" title="Granite Transformations Home Page">Granite Transformations</a>. It happens that I occasionally drive by their local franchise. We stopped by on a Saturday afternoon, got some information and scheduled an estimate. We did have a little sticker shock at first so we decided to compare other options before going ahead. It turns out that they were competitive with other options from Lowes and Home Depots.</p>
<p>I had to take out the sink before the installation could occur, so we decided to upgrade the sink at the same time.</p>
<p>The installation itself is a two step process. First, a template is built to facilitate the fabrication process. The team showed up right on time for the appointment and created the template. Three days later, they showed up for the installation proper. There was very little demolition involved. The old countertops didn't need to be ripped out since this is an overlay product. They were done right on time for lunch.</p>
<p>I decided to install the sink myself. It did turn into a bit of a saga, like any home improvement projects that I take on. It was promptly resolved once I found the right feed lines for the sink. Within a few hours the sink and new faucets were installed and tested.</p>
<p>My lovely wife is simply in love with the new kitchen and raves about it. I love it too and feel a lot of pride in having installed the sink myself. We are already compiling a list of projects to do next. It never really stops...</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-6874703164358246179?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
