---
layout: post
title: Released REM 1.5.0 for NetBeans 6.x
published: true
---
<p>I just pushed REm 1.5.0 for NetBeans 6.x. This releases adds the following features:</p>
<ul>
  <li>Bundles ZK 3.0.5</li>

  <li>Provides basic syntax highlighting for ZHTML files.</li>

  <li>Provides basic syntax highlighting for DSP files.</li>
</ul>
<p>You can download the plugin from <a href="http://downloads.sourceforge.net/rem1/REM-1.5.0.zip?use_mirror=osdn">Sourceforge.net</a>.</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-2920820885018039653?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
