---
layout: post
title: Creating a Remote Mercurial Repository
published: true
---
<p>I wanted to play with the metaprogramming abilities of Groovy. So I started a new project in NetBeans and created a Mercurial repository to version it. I had a few files committed eventually.</p>
<p>I am really nervous about keeping code in a single location. This is why I do Time Machine backups on my mac. This is also why I keep a clone of Mercurial repositories on my workstation at work. Well, except for my personal projects. I keep a clone on the same server that is hosting this blog. I decided that this new project was worth cloning remotely.</p>
<p>It turns out that you can clone a repository to a remote system just as easily that you can clone a repository from a remote system. The syntax is simply:</p><code>hg clone [local-repo] [remote-repo]</code> <span style="font-family: Monaco;"><br /></span>
<p>This even works over ssh. It also leads to a little more peace of mind on my part.</p>
<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-6900388954317768528?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
