---
layout: post
title: Advice for Uncertain Times
published: true
---
<p>Here are two things that you can do to help yourself and your career in these uncertain times:</p><ol>
<li>
<strong>Upgrade your skills.</strong> Continuing to educate yourself is going to be key in standing out from the herd and adding value to your current or future employer. Now is a great time to learn a new language or get exposure to a new technology. The best part is that it doesn't have to be expensive. There are plenty of resources that are low cost or even free on the Internet or in books that will give you a head start on upgrading your skills.</li>
<li>
<strong>Network.</strong> Seek out other people in your industry that share similar interests. Find places where great programmers or designers meet in order to exchange information and tips. Don't wait to need a job to network either. It's never too early to establish relationships with individuals outside of your organization or company.</li>
</ol><p>Users Groups in general give you the ability to do both. You do have a chance to meet other individuals that are willing to take some time to learn about technology and to network with other individuals of like mind. They are usually free and will often bribe you to attend with food (Pizza being a favorite around here) or door prizes. Many groups do go out for drinks afterward, extending the networking opportunity.</p><p>The <a href="http://boulderjug.org/">Boulder JUG</a> and the <a href="http://denverjug.org/">Denver JUG</a> are going to host Scott Davis of <a href="http://www.thirstyhead.com/">ThirstyHead.com</a> who will present on Lizard Brain Web Design and how to implement DSLs using Groovy. Make your way down to either meetings, learn a new thing or two and network with some of the brightest and motivated developers in the Denver area.</p><div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-2559293152604839180?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
