---
layout: post
title: Cloud Computing in Plain English
published: true
---
<p>From <a href="http://blogs.sun.com/Studentzone/entry/head_what_the_heck_is">WHAT THE HECK IS CLOUD COMPUTING?</a></p><p><object height="344" width="425">
 <param name="movie" value="http://www.youtube.com/v/XdBd14rjcs0&amp;hl=en&amp;fs=1" />
 <param name="allowFullScreen" value="true" />
 <param name="allowscriptaccess" value="always" />
 <embed allowfullscreen="true" src="http://www.youtube.com/v/XdBd14rjcs0&amp;hl=en&amp;fs=1" allowscriptaccess="always" type="application/x-shockwave-flash" height="344" width="425"></embed>
</param></param></param></object></p><p>I think it does a great job of introducing the concept of Cloud Computing without going into the technical details that makes it tick.</p><div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-6249630788033169905?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
