---
layout: post
title: Colorado Springs Introduction to JRuby Talk
published: true
---
[[posterous-content:wdykAJltECxqnnbyaEvv]]

I opened up the <a href="http://www.meetup.com/csopensource/" title="CO Springs Open Source User Group Meetup page">Colorado Springs Open Source User Group</a> with a very quick introduction to JRuby. The talk was well received and there was a good back and forth with the audience. Many interesting questions were asked and there were a few follow up discussions.

Ben Simo (<a href="http://twitter.com/QualityFrog">@QualityFrog</a>) had the following feedback on the presentation:

<p>[[posterous-content:JBtdCzgsbxuibymtuJzf]]</p><p><a href="http://twitter.com/QualityFrog/status/1670363774"></a>This is pretty much what any presenter could hope for :)</p><p>Here are the slides:</p><div style="text-align: left;">
<a href="http://www.slideshare.net/fredjean/quick-intro-to-jruby?type=presentation" title="Quick Intro To JRuby" style="font: 14px Helvetica,Arial,Sans-serif; display: block; margin: 12px 0 3px 0; text-decoration: underline;">Quick Intro To JRuby</a><object height="355" width="425" style="margin: 0px;">
   <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=cospringsintrotojruby-090501124421-phpapp01&amp;stripped_title=quick-intro-to-jruby" />
   <param name="allowFullScreen" value="true" />
   <param name="allowScriptAccess" value="always" />
   <embed allowfullscreen="true" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=cospringsintrotojruby-090501124421-phpapp01&amp;stripped_title=quick-intro-to-jruby" allowscriptaccess="always" type="application/x-shockwave-flash" height="355" width="425"></embed>
 </param></param></param></object>

 <div style="font-size: 11px; font-family: tahoma,arial; height: 26px; padding-top: 2px;">
   View more <a href="http://www.slideshare.net/" style="text-decoration: underline;">presentations</a> from <a href="http://www.slideshare.net/fredjean" style="text-decoration: underline;">fredjean</a>.
 </div>
</div><div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-899013973611358522?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
