---
layout: post
title: Yes, Developers Should Twitter
published: true
---
<p>I firmly believe that any developer who doesn't use the different tools available to communicate outside of the bubble that is the people they work with or the company they work for is short changing him (or her) self.</p>
<p>These tools are varied. Twitter is one of them. It is a great way to exchange barbs and keep track of what like-minded (and not so like-minded) developers are doing. It's 140 character format is conductive to bursty exchanges. I certainly enjoy the ongoing conversation that I have with individuals that I respect who happen to hang out on Twitter. The banter might be light at time, but it is still great banter.</p>
<p>It's not the only medium that developers should use though. Developers need to establish an Internet footprint. It is especially critical for those who are working on web applications or infrastructure. Blogging is another tool available to help developers to establish and expand this Internet footprint. Contributing to projects on <a href="http://kenai.com/">Project Kenai</a>, <a href="http://github.com/">GitHub</a> or other project hosting infrastructure is another good way of doing so as well.</p>
<p>Finally, developers should reach out and network locally. It is not a big investment to take an evening each month to head out and attend a local user group meeting. Doing so shows that you do care about your craft and are willing to invest some time in expanding your knowledge. It is even better when you actively participate into the meetings by presenting or actively networking with other professionals.</p>
<p>To participate, whether through Twitter, blogs, projects or users group shows that you care. That alone is often enough for an individual to rise above the vast sea of indifferent developers that are prevalent in the so called real world.</p>

<div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-139393078071110788?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
