---
layout: post
title: How to Speak at a Java Users Group
published: true
---
<p>How do you speak at a local Java Users Group? It's really simple actually...</p><ol>
<li>
<strong>Pick a topic relevant to the group.</strong> Talk to your friendly local coordinator to see whether your topic is appropriate or of interest to the group. It is very likely that the topic is relevant to the group. Some topics may get some overlap which is why it's best to chat about it first.</li>
<li>
<strong>Prepare your talk.</strong> This is actually the harder of speaking at the JUGs. You need to do your research, organize your thoughts and put your presentation together. It is best to start early and do a few practice runs before hand.</li>
<li>
<strong>Get ready for your talk.</strong> I find it best to show up early, hook up to the projector and take the chance to relax a little. It is much easier to present when focused and centered than when rushed. It also allows you to test to make sure that you have access to the relevant sites (if needed), that you can interface to the projector and that the batteries in your remote haven't died yet.</li>
<li>
<strong>Give your talk.</strong> This is the fun part. Present your topic. Interact with the audience, have some fun with them (not at their expense though). Answer questions as they come. You never know when this will lead the talk into an unexpected detour.</li>
<li>
<strong>Stick around after the talk.</strong> Many people will have follow up questions and observations. You might learn something from that conversation.</li>
</ol><p>It's really that simple. You don't have to be The Expert on a topic and you don't have to be a polished public speaker. You just need an interesting topic, some slides and to show up.</p><p>BTW, the <a href="http://boulderjug.org/">Boulder Java Users Group</a> is always looking for speakers. You can contact me if you are interested in presenting. We always welcome local speakers.</p><div class="blogger-post-footer"><img class="posterous_download_image" src="https://blogger.googleusercontent.com/tracker/2472972155627143715-6169444231059467957?l=blog.fredjean.net" height="1" alt="" width="1" /></div>
