---
layout: post
title: Principle vs Principal
published: true
---
<blockquote><b>Updated on 5/2/2013.</b> Many thanks to Mike Ditto for pointing out that I had made a mistake in the original article and used the principle definition twice. I have updated the article with a better definition for principal.</blockquote>
<p>I constantly see principle and principal used interchangeably. I see job posting for Principle Engineer positions as well as articles about Scheduling Principals in Java Applications (see&nbsp;<a href="http://www.javacodegeeks.com/2010/05/scheduling-principals-in-java.html">http://www.javacodegeeks.com/2010/05/scheduling-principals-in-java.html</a>). It is understandable that these words can be confused since they look and sound alike. They have very different meanings though.</p>
<p />
<p>When used as a noun, principal (according to&nbsp;<a href="http://dictionary.reference.com/browse/principal">http://dictionary.reference.com/browse/principal</a>) refers to "a person who takes a leading part in any activity, as a play; chief actor or doer." As an adjective, it is "highest in rank or authority." This is the correct word to use when referring to Principal Engineer title or positions.
</p>
<p>A principle is "a rule of action or conduct" (see <a href="http://dictionary.reference.com/browse/principle)">http://dictionary.reference.com/browse/principle)</a>. It would have been the correct word to use in the title of the article referred to above.
</p>
<p>The reality is that I will refuse to apply for a Principle Engineer position and I am very unlikely to read an article that misuses the word principals in a title. Call it a question of principles if you must.</p>

