
<div class='byline'>
  <span class="author">
    <a rel="author" href="https://plus.google.com/u/1/110971367658599641980?rel=author">
      <img src="http://mediacdn.disqus.com/uploads/users/4818/831/avatar32.jpg?1365980001" width="16" height="16">Frederic Jean
    </a>
  </span>
  <span>&nbsp;|&nbsp;</span>
  <span class="comments"><%= link_to "Comments", article, anchor: "disqus_thread" %></span>
  <span>&nbsp;|&nbsp;</span>
  <span class="date"><%= article.date.strftime('%b %e, %Y') %></span>
</div>
